/* Styles de réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Georgia, serif;
    background-color: #f5e99f;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1c2361;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #c7dceb;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #5c87db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c2361;
}

/* Styles spécifiques à la page d'accueil */
.home {
    text-align: center;
}

.home h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home .btn-container {
    display: flex;
    justify-content: center;
}

.home .btn-container button {
    margin: 0 10px;
}

/* Styles spécifiques à la page de redirection après connexion */
.redirection {
    text-align: center;
}

.redirection h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

.redirection p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.redirection .btn-container {
    display: flex;
    justify-content: center;
}

.redirection .btn-container button {
    margin: 0 10px;
}

/* Styles spécifiques à la page de redirection après création de compte */
.creation-redirection {
    text-align: center;
}

.creation-redirection h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

.creation-redirection p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.creation-redirection .btn-container {
    display: flex;
    justify-content: center;
}

.creation-redirection .btn-container button {
    margin: 0 10px;
}
